version: "2.1"

services:
    app:
        ports:
            - 8080:80

    composer:
        volumes:
            - $HOME/.composer:/composer
            - $SSH_AUTH_SOCK:/tmp/ssh.sock
        environment:
            SSH_AUTH_SOCK: /tmp/ssh.sock
