{% extends "base.html.twig" %}

{% block title %}Not found!{% endblock %}


{% block page %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Oops, nothing here</h1>
        <br><br>
    </div>
</div>
{% endblock %}
