{% extends "base.html.twig" %}

{% block title %}Nothing here!{% endblock %}


{% block page %}
    <div class="jumbotron">
        <div class="container">
            <h1>Nothing here!</h1>
        </div>
    </div>
{% endblock %}
