{% extends "base.html.twig" %}

{% block title %}Nofw{% endblock %}


{% block page %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Nofw</h1>
        <div class="row center">
            <h5 class="header col s12 light">{{ "No framework at all!"|trans }}</h5>
        </div>
        <div class="row center">
            <a href="https://nofw.io/docs/getting-started/" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
    </div>
</div>
{% endblock %}
