<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <link href="/assets/css/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Nofw</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://nofw.io/docs/">Docs</a></li>
                <li><a href="https://github.com/nofw/nofw">Github</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="https://nofw.io/docs/">Docs</a></li>
                <li><a href="https://github.com/nofw/nofw">Github</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {% block page %}{% endblock %}

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>
</body>
</html>
